<section class="wrapper-home-slider variation-two">
    <div class="fluid-slider-var2">
        {{#each data.carouselList}}
        <div>

            <img src="{{this.banImage}}" alt="" />

            <div class="container custom-container-slide">
                <div class="slide-detail text-center">
                    <div class="slide-detail-inner">
                        <h2><a href="/recipeDetail/{{this.meta.id}}">{{this.name}}</a></h2>

                        <div class="short-separator"></div>
                        <div class="rating-box">
                            {{#if this.c_ratingNum}}
                            <div class="star-rating">
                                <div class="back-stars">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>

                                    <div class="front-stars"
                                        style="width: {{#getRatingPercentage this.c_ratingNum}}{{/getRatingPercentage}}%">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <span class="rating-figure">({{this.c_ratingNum}}/5)</span>
                            </div>
                            {{/if}}
                        </div>
                        <p>
                            {{this.richTextDescription}}
                        </p>
                        <a class="read-more-bordered" href="/recipeDetail/{{this.meta.id}}">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>