<div class="food-tabs wow animated fadeIn">
    <div class="container">
        <div class="container-food-tabs">
            <!--food tabs-->
            <section class="row custom-row-food-tabs">
                <div class="col-md-7 col-lg-8">
                    <div class="recipe-of-day animated wow fadeInLeft">
                        <a href="#"><img src="images/temp-images/recipe-of-the-day.jpg" alt="Recipe of the day" /></a>
                        <div class="recipe-contents-outer">
                            <div class="recipe-contents text-center">
                                <div class="recipe-content-inner">
                                    <span class="tag">Recipe of the Day</span>
                                    <h2><a href="#">Pasto Pizza With Fillas Cheese Topping</a></h2>
                                    <div class="short-separator"></div>
                                    <p>
                                        Nam ornare arcu turpis, nec congu
                                        Curabitur quis euismod...
                                    </p>
                                    <a class="read-more" href="#">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 custom-col-food-tabs">
                    <!--tabs start-->
                    <div class="tab-container">
                        <ul class="tabs-nav clearfix">
                            <li class="active"><a href="#">Most rated</a></li>
                            <li><a href="#">popular</a></li>
                            <li><a href="#">random</a></li>
                        </ul>
                        <div class="tabs-container">
                            {{!-- Most rated --}}
                            {{!-- Popular --}}
                            {{!-- Random --}}
                            <div class="tab-content">
                                {{#each data.mostRated}}
                                <div class="content-inner">
                                    <div class="left-side">
                                        <a href="#"><img src="{{#getFirstImage this.c_images}}{{/getFirstImage}}"
                                                alt="image" /></a>
                                    </div>
                                    <div class="right-side">
                                        <h3><a href="/recipeDetail/{{this.meta.id}}">{{this.name}}</a></h3>
                                        <div class="rating-box">
                                            {{#if this.c_ratingNum}}
                                            <div class="star-rating">
                                                <div class="back-stars">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>

                                                    <div class="front-stars"
                                                        style="width: {{#getRatingPercentage this.c_ratingNum}}{{/getRatingPercentage}}%">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <span class="rating-figure">({{this.c_ratingNum}}/5)</span>
                                            </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>


                            <div class="tab-content">
                                {{#each data.mostPopular}}
                                <div class="content-inner">
                                    <div class="left-side">
                                        <a href="#"><img src="{{#getFirstImage this.c_images}}{{/getFirstImage}}"
                                                alt="image" /></a>
                                    </div>
                                    <div class="right-side">
                                        <h3><a href="/recipeDetail/{{this.meta.id}}">{{this.name}}</a></h3>
                                        <div class="rating-box">
                                            {{#if this.c_ratingNum}}
                                            <div class="star-rating">
                                                <div class="back-stars">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>

                                                    <div class="front-stars"
                                                        style="width: {{#getRatingPercentage this.c_ratingNum}}{{/getRatingPercentage}}%">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <span class="rating-figure">({{this.c_ratingNum}}/5)</span>
                                            </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                {{/each}}


                            </div>


                            <div class="tab-content">
                                {{#each data.random}}
                                <div class="content-inner">
                                    <div class="left-side">
                                        <a href="#"><img src="{{#getFirstImage this.c_images}}{{/getFirstImage}}"
                                                alt="image" /></a>
                                    </div>
                                    <div class="right-side">
                                        <h3><a href="/recipeDetail/{{this.meta.id}}">{{this.name}}</a></h3>
                                        <div class="rating-box">
                                            {{#if this.c_ratingNum}}
                                            <div class="star-rating">
                                                <div class="back-stars">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>

                                                    <div class="front-stars"
                                                        style="width: {{#getRatingPercentage this.c_ratingNum}}{{/getRatingPercentage}}%">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <span class="rating-figure">({{this.c_ratingNum}}/5)</span>
                                            </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                {{/each}}


                            </div>

                        </div>
                    </div>

                    <!--tabs end-->
                </div>
            </section>

            <div class="corner-image bg-corner-tabs wow animated zoomIn">
                <img src="images/bg-corner-tomato.png" alt="image" />
            </div>
        </div>
    </div>
</div>