{{> header}}

<div class="banner banner-blog">
    <div class="container ">
        <div class="main-heading">
            <h1>Locations page</h1>
        </div>

    </div>
</div>

<div class="recipes-home-body inner-page locationDetail">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="recipe-set ">
                    <div class="wrapper-detail-contents detail-2">
                        <div class="single-recipe-detail">
                            <div class="wrapper-recipe-heading">
                                <div class="heading">
                                    <h2>{{data.name}}</h2>

                                </div>

                            </div>

                            <div class="wrapper-slider-detail">
                                <div class="recipe-slider">
                                    <div class="slider-detail2">
                                        <div> <img
                                                src="{{#getImageFromPhotoGallery data.photoGallery}}{{/getImageFromPhotoGallery}}"
                                                alt="slide" />
                                        </div>
                                    </div>
                                </div>

                                <ul class="recipe-specs-2">
                                    {{#each data.services}}
                                    <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="recipe-detail-body">
            <div class="row">
                <div class="col-md-7 col-lg-7">
                    <h4>About us</h4>
                    {{data.description}}<br /><br />
                    <h4>Operational Hours</h4>
                    <ul class="hrs">
                        {{#each (generateHours data.hours)}}
                        <li>{{this.day}} - {{this.open}} - {{this.close}}</li>
                        {{/each}}
                    </ul>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div style="margin-top: 3%;">
                        <i class="fa fa-map-marker"></i> {{data.address.line1}}, {{data.address.city}},
                        {{data.address.region}}, {{data.address.postalCode}}<br /><br />
                        <i class="fa fa-phone"></i> {{data.mainPhone}}<br />
                    </div>
                    <div class="mapouter" style="margin-top: 2%;">
                        <div class="gmap_canvas"><iframe width="403" height="355" id="gmap_canvas"
                                src="https://maps.google.com/maps?q={{data.address.line1}}, {{data.address.city}}, {{data.address.region}}&t=&z=11&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <style>
                                .mapouter {
                                    position: relative;
                                    text-align: right;
                                    height: 355px;
                                    width: 403px;
                                }
                            </style><a href="https://www.embedgooglemap.net">integrate google maps into website</a>
                            <style>
                                .gmap_canvas {
                                    overflow: hidden;
                                    background: none !important;
                                    height: 355px;
                                    width: 403px;
                                }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}