{{> header}}
<div class="banner banner-blog">
    <div class="container ">
        <div class="main-heading">
            <h1>Recipe listing page</h1>
        </div>

    </div>
</div>
<div class="advance-search">
    <!--advance search form-->

    <div class="container">
        <div class="wrapper-search">
            <div class="container-tags">
                <span class="tag">
                    <span class="tag-inner">Find Recipes <i class="fa fa-angle-down"></i></span>
                </span>

            </div>
            <div class="outer-advance-search">

                <form action="#" id="advance-search">
                    <fieldset>
                        <div class="inner-advance-search">

                            <div class="form-field">
                                <label for="ingredient">ingredient</label>
                                <select name="ingredient" id="ingredient" class="advance-selectable">
                                    <option value="ing1" selected="selected">Any Ingredient</option>
                                    <option value="ing2">Butter</option>
                                    <option value="ing3">Cheese</option>
                                    <option value="ing4">Cream</option>
                                    <option value="ing5">Yeast</option>
                                </select>
                            </div>

                            <div class="form-field">
                                <label for="course">course</label>
                                <select name="course" id="course" class="advance-selectable">
                                    <option value="ing1" selected="selected">Any Course</option>
                                    <option value="ing2">Butter</option>
                                    <option value="ing3">Cheese</option>
                                    <option value="ing4">Cream</option>
                                    <option value="ing5">Yeast</option>
                                </select>
                            </div>

                            <div class="form-field">
                                <label for="cuisine">cuisine</label>
                                <select name="cuisine" id="cuisine" class="advance-selectable">
                                    <option value="ing1" selected="selected">Any Cuisine</option>
                                    <option value="ing2">Butter</option>
                                    <option value="ing3">Cheese</option>
                                    <option value="ing4">Cream</option>
                                    <option value="ing5">Yeast</option>
                                </select>
                            </div>

                            <div class="form-field">
                                <label for="time">Cooking Time</label>
                                <select name="time" id="time" class="advance-selectable">
                                    <option value="ing1" selected="selected">Any Cooking Time</option>
                                    <option value="ing2">Butter</option>
                                    <option value="ing3">Cheese</option>
                                    <option value="ing4">Cream</option>
                                    <option value="ing5">Yeast</option>
                                </select>
                            </div>

                            <div class="form-field">
                                <label for="calories">calories</label>
                                <select name="calories" id="calories" class="advance-selectable">
                                    <option value="ing1" selected="selected">Any Calories</option>
                                    <option value="ing2">Butter</option>
                                    <option value="ing3">Cheese</option>
                                    <option value="ing4">Cream</option>
                                    <option value="ing5">Yeast</option>
                                </select>
                            </div>

                            <button type="submit"><i class="fa fa-search"></i></button>

                        </div>
                    </fieldset>

                </form>
            </div>
        </div>
    </div>

    <!--advance search form ends-->
</div>

<div class="recipes-home-body inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="recipe-set">
                    <div class="listing-buttons">
                        <span class="grid current"><i class="fa fa-th-large"></i></span>
                        <span class="list "><i class="fa fa-bars"></i></span>
                    </div>
                    <h2>{{title}}</h2>

                    <div class="recipe-listing listing-grid">
                        {{#each data}}
                        <div class="listing">
                            <div class="image">
                                <img src="{{#getFirstImage this.c_images}}{{/getFirstImage}}" alt="image" />
                            </div>
                            <div class="detail">
                                <h4><a href="/recipeDetail/{{this.meta.id}}">{{this.name}}</a></h4>
                                <p>
                                    {{this.richTextDescription}}
                                </p>
                                <div class="meta-listing">
                                    <ul class="post-meta">
                                        {{#if this.c_aurthor}} <li class="author">{{this.c_aurthor}}</li>{{/if}}
                                        <li class="calendar">{{#changeDateFormat this.datePosted}}{{/changeDateFormat}}
                                        </li>
                                    </ul>
                                    <div class="rating-box">
                                        {{#if this.c_ratingNum}}
                                        <div class="star-rating">
                                            <div class="back-stars">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>

                                                <div class="front-stars"
                                                    style="width: {{#getRatingPercentage this.c_ratingNum}}{{/getRatingPercentage}}%">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <span class="rating-figure">({{this.c_ratingNum}}/ 5)</span>
                                        </div>
                                        {{/if}}
                                    </div>

                                </div>
                            </div>
                        </div>
                        {{/each}}





                        <ul class="page-nav">
                            <li class="current"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{{> footer}}