{{> header}}

<div class="banner banner-blog">
    <div class="container ">
        <div class="main-heading">
            <h1>Recipe details page</h1>
        </div>

    </div>
</div>

<div class="recipes-home-body inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="recipe-set ">
                    <div class="wrapper-detail-contents detail-2">
                        <div class="single-recipe-detail">
                            <div class="wrapper-recipe-heading">
                                <div class="heading">
                                    <h2>{{data.name}}</h2>

                                </div>

                            </div>

                            <div class="slider-recipe-detail2">
                                <div class="wrapper-slider-detail">
                                    <div class="recipe-slider">
                                        <div class="slider-detail2">
                                            {{#each data.c_images}}
                                            <div> <img src="{{this}}" alt="slide" />
                                            </div>
                                            {{/each}}
                                        </div>
                                        <span class="custom-arrows wider">
                                            <span class="left-arrow slick-arrow" data-direction="prev"
                                                style="display: table-cell;"><i class="fa fa-arrow-left"></i></span>
                                            <span class="right-arrow slick-arrow" data-direction="next"
                                                style="display: table-cell;"><i class="fa fa-arrow-right"></i></span>
                                        </span>
                                    </div>

                                    <ul class="recipe-specs-2">
                                        <li><span>Servings : </span>{{data.c_serves}}</li>
                                        {{#if data.c_prepTime}} <li><span>Prep Time : </span>{{data.c_prepTime}}m</li>
                                        <li><span>Cook Time : </span>{{#getCookTime data.c_prepTime
                                            data.c_totalTime}}{{/getCookTime}}m
                                        </li>
                                        <li><span>Ready In : </span>{{#minToHrAndRoundToTwoDecimals
                                            data.c_totalTime}}{{/minToHrAndRoundToTwoDecimals}}h</li>
                                        {{/if}}
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="recipe-detail-body">
                            <div class="rating-box">
                                {{#if data.c_ratingNum}}
                                <div class="star-rating">
                                    <div class="back-stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <div class="front-stars"
                                            style="width: {{#getRatingPercentage data.c_ratingNum}}{{/getRatingPercentage}}%">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <span class="rating-figure">({{data.c_ratingNum}}/ 5)</span>
                                </div>
                                {{/if}}
                            </div>
                            <ul class="pre-tags">
                                {{#if data.c_cuisine}} <li><span>Cuisine : </span>{{data.c_cuisine}}</li>{{/if}}
                                {{#if data.c_course}} <li><span>Course : </span>{{data.c_course}}</li>{{/if}}
                                <li><span>Skill Level : </span>Advanced</li>
                            </ul>
                            <div class="separator-post"></div>
                            <p>
                                {{data.richTextDescription}}
                            </p>
                            <br />
                            <div class="ingredients-checkbox">
                                <div class="ingredients">
                                    <h3>Ingredients</h3>
                                    <ul>
                                        {{#each data.c_totalIngredients}}
                                        <li>
                                            <label>
                                                <input type="checkbox" />
                                                {{this}}
                                            </label>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                                <div class="nutritional">
                                    <h3>Nutritional</h3>
                                    {{#generateNutritionTable data.c_nutrition}}
                                    {{/generateNutritionTable}}
                                </div>
                            </div>
                        </div>
                        <div class="recipe-steps">
                            <h3 class="lined">Step by Step method</h3>
                            {{#each data.c_instructions}}
                            <i>Step {{#indexPlusOne @index}}{{/indexPlusOne}}: </i>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>
                                        {{this}}
                                    </p>
                                </div>
                            </div>
                            {{/each}}
                        </div>


                        <div class="tips-variations">
                            <h3>Tips & variations</h3>
                            <ul>
                                <li>
                                    <p>
                                        Rinse the chicken pieces in cold water and pat dry. Place the chicken in
                                        a large, resealable zip-top bag
                                        and pour in the marinade. Toss the chicken inside the bag to cover.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Rinse the chicken pieces in cold water and pat dry. Place the chicken in
                                        a large, resealable zip-top bag
                                        and pour in the marinade.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Rinse the chicken pieces in cold water and pat dry. Place the chicken in
                                        a large, resealable zip-top bag
                                        and pour in the marinade. Toss the chicken inside the bag to cover.
                                    </p>
                                </li>
                            </ul>
                        </div>

                        <div class="separator-post"></div>
                        <div class="tags-icons">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="details-tags">
                                        <ul>
                                            {{#each data.c_ingredients}}
                                            <li><a href="/recipeList/{{this}}">{{this}}</a></li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 5%; background:white;">
            <h1 style="padding: 0.5em;">Served at</h1>
            <div id='locationsCarousel'>
                {{#each streamsData}}
                <div>
                    <a href="/locationDetail/{{this.id}}">
                        <img src="{{#getImageFromPhotoGallery this.photoGallery}}{{/getImageFromPhotoGallery}}">
                    </a>
                    <h4>{{this.name}}</h4>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
{{> footer}}