{{> header}}

<div class="banner banner-blog">
    <div class="container ">
        <div class="main-heading">
            <h1>Recipe details page</h1>
        </div>

    </div>
</div>

<div class="recipes-home-body inner-page" id="recipes-home-body">
    <div class="container" id="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="recipe-set ">
                    <div class="wrapper-detail-contents detail-2">
                        <div class="single-recipe-detail">
                            <div class="wrapper-recipe-heading">
                                <div class="heading">
                                    <h2>{{recipeData.name}}</h2>

                                </div>

                            </div>

                            <div class="slider-recipe-detail2">
                                <div class="wrapper-slider-detail">
                                    <div class="recipe-slider">
                                        <div class="slider-detail2">
                                            {{#each recipeData.c_images}}
                                            <div> <img src="{{this}}" alt="slide" />
                                            </div>
                                            {{/each}}
                                        </div>
                                        <span class="custom-arrows wider">
                                            <span class="left-arrow slick-arrow" data-direction="prev"
                                                style="display: table-cell;"><i class="fa fa-arrow-left"></i></span>
                                            <span class="right-arrow slick-arrow" data-direction="next"
                                                style="display: table-cell;"><i class="fa fa-arrow-right"></i></span>
                                        </span>
                                    </div>

                                    <ul class="recipe-specs-2">
                                        <li><span>Servings : </span>{{recipeData.c_serves}}</li>
                                        {{#if recipeData.c_prepTime}} <li><span>Prep Time :
                                            </span>{{recipeData.c_prepTime}}m</li>
                                        <li><span>Cook Time : </span>{{#getCookTime recipeData.c_prepTime
                                            recipeData.c_totalTime}}{{/getCookTime}}m
                                        </li>
                                        <li><span>Ready In : </span>{{#minToHrAndRoundToTwoDecimals
                                            recipeData.c_totalTime}}{{/minToHrAndRoundToTwoDecimals}}h</li>
                                        {{/if}}
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="recipe-detail-body">
                            <div class="rating-box">
                                {{#if recipeData.c_ratingNum}}
                                <div class="star-rating">
                                    <div class="back-stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <div class="front-stars"
                                            style="width: {{#getRatingPercentage recipeData.c_ratingNum}}{{/getRatingPercentage}}%">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <span class="rating-figure">({{recipeData.c_ratingNum}}/5)</span>
                                </div>
                                {{/if}}
                            </div>
                            <ul class="pre-tags">
                                {{#if recipeData.c_cuisine}} <li><span>Cuisine : </span>{{recipeData.c_cuisine}}
                                </li>
                                {{/if}}
                                {{#if recipeData.c_course}} <li><span>Course : </span>{{recipeData.c_course}}</li>
                                {{/if}}
                                <li><span>Skill Level : </span>Advanced</li>
                            </ul>
                            <div class="separator-post"></div>
                            <p>
                                {{recipeData.richTextDescription}}
                            </p>
                            <br />
                            <div class="ingredients-checkbox">
                                <div class="ingredients">
                                    <h3>Ingredients</h3>
                                    <ul>
                                        {{#each recipeData.c_totalIngredients}}
                                        <li>
                                            <label>
                                                <input type="checkbox" />
                                                {{this}}
                                            </label>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                                <div class="nutritional">
                                    <h3>Nutritional</h3>
                                    {{#generateNutritionTable recipeData.c_nutrition}}
                                    {{/generateNutritionTable}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-lg-8">

                            <div class="recipe-steps">
                                <h3 class="lined">Step by Step method</h3>
                                {{#each recipeData.c_instructions}}
                                <i>Step {{#indexPlusOne @index}}{{/indexPlusOne}}: </i>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>
                                            {{this}}
                                        </p>
                                    </div>
                                </div>
                                {{/each}}
                            </div>


                            <div class="tips-variations">
                                <h3>Tips & variations</h3>
                                <ul>
                                    <li>
                                        <p>
                                            Rinse the chicken pieces in cold water and pat dry. Place the chicken in
                                            a large, resealable zip-top bag
                                            and pour in the marinade. Toss the chicken inside the bag to cover.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Rinse the chicken pieces in cold water and pat dry. Place the chicken in
                                            a large, resealable zip-top bag
                                            and pour in the marinade.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Rinse the chicken pieces in cold water and pat dry. Place the chicken in
                                            a large, resealable zip-top bag
                                            and pour in the marinade. Toss the chicken inside the bag to cover.
                                        </p>
                                    </li>
                                </ul>
                            </div>

                            <div class="separator-post"></div>
                            <div class="tags-icons">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="details-tags">
                                            <ul>
                                                {{#each recipeData.c_ingredients}}
                                                <li><a href="/recipeList/{{this}}">{{this}}</a></li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div style="padding: 5%; background:white;">
                                <h2 class="servTitle">
                                    Served at</h2>
                                <div id='locationsCarousel'>
                                    {{#each streamsData}}
                                    <div>
                                        <a href="/locationDetail/{{this.id}}">
                                            <img
                                                src="{{#getImageFromPhotoGallery this.photoGallery}}{{/getImageFromPhotoGallery}}">
                                        </a>
                                        <h4>{{this.name}}</h4>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> reviewsAndQnaSection}}
    </div>
</div>



{{> footer}}